.bg {
    background: #ada8a8;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid #908686;
    border-radius: 5px;
    padding: 5px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.main {
    display: flex;
    margin-top: 5px;
}

.main__container_left {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
    width: 70%;
    height: 200px;
}

.main__container_left-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
}

.main__cotainer_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}