* {
    margin: 0;
    padding: 0;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
    background: url("./image/bg.png") no-repeat center/cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.header__top_item img {
    width: 20px;
}

.header__top_nav {
    display: flex;
    column-gap: 23px;

}

.header__top_item a {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;

}

.header__top_menu {
    display: flex;
    align-items: center;
    column-gap: 35px;
    height: 70px;
}

.header__phone {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
    border-left: 2px solid #FFFFFF;
    padding-left: 15px;
}

.header__contact {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.header__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 19px;
    background: #FF7400;
    height: 47px;
    border: none;
    cursor: pointer;
}

.header__title h2 {
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
    margin-left: 24px;
}

.header__title {
    margin-top: 203px;
    max-width: 500px;
}

.header__title h1 {
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
}

.header__title p {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.header__title p::before,
.header__title p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background: #C4C4C4;;
}

.header__title p::before {
    margin-right: 10px;
}

.header__title p::after {
    margin-left: 10px;
}

.header__main .header__button {
    margin-top: 35px;

}

.header__main_btn {
    display: flex;
    justify-content: center;
}

.header__main_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    width: 100%;

}

.header__main_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    width: 349px;
    height: 328px;
    left: 166px;
    top: 693px;
    margin-top: 125px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);

}

.header__main_card h2 {
    font-family: Tinos;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;

}

.header__main_card p {
    padding-top: 20px;
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
}

.nav__btn_mobile {
    display: none;
    width: 30px;
    flex-direction: column;
    row-gap: 4px;
}

.nav__btn_mobile div {
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
}

.main__container {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}

.main__container_history {
    display: flex;
    column-gap: 125px;
    text-align: center;

}

.main__history_title {
    display: flex;
    flex-direction: column;
    width: 440px;
}

.main__history_title h2 {
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;

}

.main__history_title p {
    width: 440px;
    padding-top: 21px;
    padding-bottom: 39px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #656363;

}

.main__history_title-nombers {
    display: flex;
    justify-content: center;
    column-gap: 60px;
}

.main__history_title-nomber  {
    width: 80px;

}

.main__history_title-nomber p {
    width: 80px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;

}

.history_title-nomber {
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #BC9060;

}

.main__reservetion {
    background: url("./image/bg_2.png") no-repeat center/cover;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

}

.main__reservetion_title h2 {
    width: 700px;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
    padding-top: 80px;
}

.main__reservetion_title p {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    padding-bottom: 104px;
}

.main__reservetion_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 180px;
}

.main__reservetion_button button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    height: 47px;
    background: #FF7400;
    border: none;
    padding: 0 19px;
}

.main__container__products {
    display: flex;
    flex-direction: column;
    margin-top: 132px;
    padding: 0 20px;
}

.container__products_title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container__products_title h2 {
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
}

.container__products_photo {
    display: flex;
    margin-top: 139px;
    column-gap: 30px;
}

.products_photo_left img {
    width: 711px;
    height: 474px;
}

.products_photo_right {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    height: 474px;
}

.product_photo_right {
    display: flex;
    column-gap: 29px;
}

.product_photo_right_title, .product_photo_right_price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_photo_right_title h2 {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

.main__container_menu {
    display: flex;
    flex-direction: column;
    background: url("./image/bg_3.png") no-repeat center/cover;
    margin-top: 150px;
    padding: 0 20px;

    height: 1034px;
}

.container_menu_title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.container_menu_title h2 {
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.container_menu_items {
    display: flex;
    column-gap: 30px;
    margin-top: 138px;
}

.menu_item_card, .menu_item_card_1 {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.item_card_img {
    display: flex;
    padding: 80px 60px 16px 10px;
    align-items: center;

}

.item_card_img img {
    border-radius: 50%;
}

.menu_item_card h2 {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #000000;

}

.menu_item_card p {
    width: 220px;
    padding-top: 17px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;

}

.item_card_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 65px;
}

.item_card_btn button {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: #D67E34;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    padding: 14px 68px;
}





.main__reservetion_button button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    height: 47px;
    background: #FF7400;
    border: none;
    padding: 0 19px;
}

.main__container_menu_feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 260px;
    background:  #E6E5E5;;
}

.main__container_menu_feedback p {
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;

}

.main__container_menu_feedback img {
    width: 149px;
    height: 150px;
    border-radius: 50%;
    margin-top: 75px;
}

.main__container_menu_feedback h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.main__container_menu_feedback h3 {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.main__container_galary {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

}

.main__container_galary h2 {
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    padding-top: 100px;
    text-align: center;
}

.container_galary_photo {
    display: flex;
    padding-top: 60px;
    column-gap: 25px;
}

.container_galary_photo_left, .container_galary_photo_right {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.galary_photo_left_down, .galary_photo_right_up {
    display: flex;
    column-gap: 30px;
}


.main__container_cooks {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.main__container_cooks h2 {
    text-align: center;
    padding-top: 100px;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;

}

.container__cooks_photo {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.footer {
    display: flex;
    margin-top: 100px;
    background: url("./image/bg_footer.png") no-repeat center/cover;
    height: 500px;
}





